/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* Reset default browser styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Main styling to be used across all pages */
body {
  background-color: #282828;
  font-family: "Press Start 2P", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #25c40d;
}

header {
  height: 10vh;
  width: 100%;
  font-size: 3rem;
  line-height: 60px;
  text-align: center;
}

#main-screen {
  width: 80vw;
  height: 80vh;
  border-radius: 60px;
  background-color: #eef1db;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 20px auto;
}

/* Styling for game over screen across all pages*/

#game-over {
  background-color: #282828;
  color: #25c40d;
  width: 50vw;
  height: 25vh;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  display: none;
  box-shadow: 15px 15px 30px #282828;
}

#end {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#end p {
  margin: 10px 0;
}

#end a {
  background-color: #EEF1DB;
  color: #282828;
  padding: 1em 2em;
  border-radius: 10px;
  margin: 10px 0;
}

/* Media queries */
@media (max-width: 1024px) {
  header {
    font-size: 2rem;
  }
  header > img {
    width: 2rem;
    height: 2rem;
  }
  h1 {
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    margin: 8px auto;
  }
}

@media (max-height: 860px) {
  #end {
    font-size: 0.75em;
  }
  #end p {
    margin: 5px;
  }
  #end a {
    padding: 0.5em;
    margin: 5px;
  }
}

@media (max-width: 520px) {
  #game-over {
    width: 80vw;
  }
  header {
    font-size: 1rem;
  }
  #main-screen {
    width: 90vw;
    height: 90vh;
  }
}