#timer, #scoreboard {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timer {
  float: left;
  padding-left: 50px;
}

#scoreboard {
  float: right;
  padding-right: 50px;
}

button {
  background-color: #282828;
  color: #25c40d;
  font-size: 1rem;
  width: 180px;
  padding: 4px 0;
  border-style: outset;
  border-radius: 20px;
  margin: 5px 20px;
  cursor: pointer;
}

#board {
  background-image: url("../images/rabbit/rabbit-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: min(60vh, 600px);
  width: min(80vw, 400px);
  clear: both;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20px;
  padding-bottom: 16px;
  box-shadow: 10px 10px 5px #282828;
}

.hole {
  display: flex;
  flex: 33%;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.hole::after {
  content: "";
  display: block;
  background-image: url("../images/rabbit/hole.png");
  background-size: contain;
  position: absolute;
  bottom: -20px;
  width: 90%;
  height: 50px;
  z-index: 2;
  border-radius: 10px;
}

.rabbit {
  background-image: url("../images/rabbit/rabbit.png");
  position: absolute;
  top: 100%;
  width: 90%;
  height: 100%;
  transition: top 0.5s linear;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.hole.up .rabbit {
  top: 0;
}

@media (max-width: 580px) {
  button {
    width: 100px;
    margin: 2px;
  }
  #scoreboard {
    padding-right: 18px;
  }
  #timer {
    padding-left: 18px;
  }
  .hole::after {
    bottom: -30px;
  }
}

@media (max-height: 1000px) {
  /* h1 {
    margin: 2px auto;
  } */
  h2 {
    font-size: 1em;
  }
}