#board {
  max-width: 100%;
  height: 600px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#levels {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #282828;
  color: #25c40d;
  font-size: 1rem;
  width: 100px;
  padding: 4px 0;
  border-style: outset;
  border-radius: 20px;
  margin: 5px 10px;
  cursor: pointer;
}

.current-level {
  font-weight: 700;
  background-color: #575555;
  border: none;
}

#choices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#computer-choice, #user-choice {
  width: 100px;
  height: 100px;
  margin: 10px auto;
}

.selections {
  width: 150px;
  height: 150px;
  cursor: pointer;
}